body {
    background-color: rgb(252, 236, 239);
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 70% 30%;
    height: 100vh;
}

header{
    margin-left: 8%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% 70%;
}

h1{
   position: relative;
   top: 20px;
   margin-top: 0px;
   /* left: 15%; */
   font-family: Poppins;
   font-style: normal;
   font-weight: bold;
   font-size: 2.2vw;
   line-height: 45px;
   color: #FF3062;
   display: inline-block;
   width: fit-content;
}

nav{
    position: relative;
    top: 10px;
    margin: 0px;
    width: 100%;
}

li {
    display: block;
    width: 17%;
    float: left;
    margin-left: 2px;;
    list-style: none;
    font-family: Poppins;
    font-size: 1vw;
    font-weight: bolder;
    line-height: 30px;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.25);
} 

a:active{
    color: #FF3062;
}

a:hover {
    color: #FF3062;
}

h2{
    position: relative;
    top: 10vh;
    font-family: Poppins;
    font-weight: 1000;
    font-style: normal;
    font-size: 6.5vw;
    line-height: 85px;
    width: 70vw;
    color: rgba(0, 0, 0, 0.05);
    margin: 0px;
}

#main_body{
    position: relative;
    top: 3vh;
    left: 8%;
    bottom: 10vh;
}

#first_paragraph{
    /* height: 100px; */
    width: 36vw;
    position: relative;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 3vw;
    font-style: normal;
    line-height: 5vh;
}

#first_text{
    position: relative;
    top: ;
    width: 33vw;
    height: 100px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    line-height: 3.5vh;
    color: rgba(0, 0, 0, 0.57);
}

#search_box{
    /* position: relative;
    border-radius: 10px;
    width: 500px;
    background-color: #FFFFFF;*/
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    float: left;
}

input[type="text"]{
    width: 28vw;
    height: 45px;
    margin: 0px;
    border-radius: 8px 0px 0px 8px;
    outline: none;
    border: none;
    padding-left: 22px;
    
}

input[placeholder="search your meal here"]{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.25);
    line-height: 30px;
    font-size: 1vw;
    position: relative;
    /* left: 10px; */
}

/* #search_placeholder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.25);
    
} */

#search_button{
    margin: 0px;
    width: 5.7vw;
    height: 45px;
    background-color: #FF3062;
    border-radius: 8px 8px 8px 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

#texas{
    position: absolute;
    /* top: 310px; */
    bottom: 0vh;
    left: 1px;
    width: 230px;
    height: 6vh;
    background-color: #FF3062;
    color: #ffffff;
    padding-left: 35px;
    line-height: 6vh;

}

#texas_text{
    position: absolute;
    /* left: 7px; */
    /* bottom: 15px; */ 
    /* text-align: center; */
    font-family: Montserrat;
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 17.5px;
    margin: 0px;
}

#food_mat{
    position: absolute;
    left: 49%;
    top: 120px;
    height: 66vh;
    /* width: 320px; */
    width: 27vw;
    z-index: -1;
}

#leaf{
    position: absolute;
    top: 19vh;
    left: 45.5%;
    width: 26vw;
    height: 240px;
    transform: rotate(-20deg);
}

#plate{
    position: absolute;
    /* width: 800px;
    height: 650px; */
    width: 63%;
    height: auto;
    left: 33%;
    top: 0px;
    z-index: 2;
}

aside{
    background-color: #FF3062;
    height: 100vh;
    z-index: 1;
}

#top_aside{
    position: relative;
    left: 40%;
    top: 35px;
    width: 150px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50% ;

}

#avatar{
    height: 40px;
    width: 40px;
}

.small_box{
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.87);
    border: 2px solid rgba(255, 255, 255, 0.87);
}

#blw_btn{
    position: relative;
    top: 80%;
    left: 40%;
    width: 100px;
    
}

.below_button{
    width: 60px;
    height: 50px;
    border: 1px solid #ffffff;
    font-weight: bold;
    cursor: pointer;
}

#first_arrow{
    background-color: #FF3062;
    color: #ffffff;
}

#second_arrow{
    position: absolute;
    /* left: 37.5%;
    right: 33.33%;
    top: 79.17%; */
    /* bottom: -37.5%; */
    /* border: 1.8px solid #FF3062; */
    transform: matrix(1, 0, 0, -1, 0, 0);
    color:#FF3062;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


